body {
    font-family: 'Lato';
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat';
    text-transform: uppercase;
}

.wizard {
    margin: 20px auto;
    background: #fff;
}

    .wizard .nav-tabs {
        position: relative;
        margin: 40px auto;
        margin-bottom: 0;
        border-bottom-color: #e0e0e0;
    }

    .wizard > div.wizard-inner {
        position: relative;
    }

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

#song-results-container {
    margin-top: 10px;
    margin-left: -20px;
}

#song-results-container button {
    float: left;
    margin-right: 5px;
    height: 50px;
}

.song-preview {
    margin: 1px;
    width: 500px;
    overflow: hidden;
    border-radius: 2px;
    border: 1px solid gray;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
}

.song-preview div.playpause {
    float: right;
    font-size: 2em;
    margin-right: 10px;
    margin-top: 5px;
}

.song-preview:hover {
    background-color: #98FF98;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
}

.song-preview.playing {
    background-color: #B5EAAA;
}

.song-preview.paused div.playpause:after {
    font-family: "FontAwesome";
    content: "\f04b";
}

.song-preview.playing div.playpause:after {
    font-family: "FontAwesome";
    content: "\f04c";
}

.song-preview div.song-title {
    font-weight: bold;
    font-size: 1.4em;
    margin-bottom: 0;
    width: 350px;
    height: 1.4em;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.song-preview img {
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}
span.round-tab i{
    color:#555555;
}
.wizard li.active span.round-tab {
    background: #fff;
    border: 2px solid #5bc0de;

}
.wizard li.active span.round-tab i{
    color: #5bc0de;
}

span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}

.wizard .nav-tabs > li {
    width: 25%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #5bc0de;
    transition: 0.1s ease-in-out;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #5bc0de;
}

.wizard .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

    .wizard .nav-tabs > li a:hover {
        background: transparent;
    }

.wizard .tab-pane {
    position: relative;
    padding-top: 50px;
}

.wizard h3 {
    margin-top: 0;
}

.videoBackdrop {
    background-color: #333333;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
}

#videoScrubber {
    width: 100%;
    height: 50px;
    background-color: #EEEEEE;
    cursor: none;
}

#videoDropzone {
    width: 100%;
    height: 80px;
    border: 3px dotted gray;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 2em;
    padding-top: 20px;
    background-color: #AFEEEE;
    cursor: pointer;
}

.videoBackdrop video {
    width: 800px;
    height: 450px;
    background-color: white;
    margin-bottom: -5px;
}

@media( max-width : 585px ) {

    .wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
}

.video-preview {
    margin: 1px;
    padding: 20px;
    width: 500px;
    overflow: hidden;
    border-radius: 2px;
    border: 1px solid gray;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
}

.video-preview div.isselect {
    float: right;
    font-size: 2em;
    margin-right: 10px;
    margin-top: 5px;
}

.video-preview:hover {
    background-color: #98FF98;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
}

.video-preview.selected {
    background-color: #B5EAAA;
}

.video-preview.error {
    background-color: #FFBBBB !important;
}

.video-preview.selected div.isselect:after {
    font-family: "FontAwesome";
    content: "\f069";
}

.video-preview div.video-title {
    font-weight: bold;
    font-size: 1.4em;
    margin-bottom: 0;
    width: 350px;
    height: 1.4em;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#processing-spinner-container {
    text-align: center;
}

#processing-spinner {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
}
