<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Remember - Capture Life's Finest Moments</title>
    <link rel="icon" type="image/png" href="/static/favicon.png">

        <!-- Bootstrap Core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/app.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <link href="/static/bower_components/dropzone/dist/dropzone.css" rel="stylesheet" type="text/css">

    <!-- Custom CSS -->
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>

    <!-- jQuery -->
    <script src="/static/vendor/jquery/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/bower_components/handlebars/handlebars.min.js"></script>
    <script src="/static/bower_components/dropzone/dist/dropzone.js"></script>
    <script src="/static/js/spin.js"></script>

    <script id="song-preview-template" type="text/x-handlebars-template">
      <div class="song-preview paused" data-song-url='{{preview_url}}'>
        <img src="{{album.images.0.url}}" />
        <div class="playpause"></div>
        <div class="song-title">{{name}}</div>
        <span>{{artists.0.name}}</span>
      </div>
    </script>

    <script id="video-preview-template" type="text/x-handlebars-template">
      <div class="video-preview">
        <div class="isselect"></div>
        <div class="video-title">{{name}}</div>
        <div>{{{size}}}, Upload progress: <span class="uploaded-percent">0%</span></div>
      </div>
    </script>


    <script src="/static/js/app.js" type="text/javascript"></script>
    <script src="/static/js/song_stuff.js" type="text/javascript"></script>
    <script src="/static/js/video_stuff.js" type="text/javascript"></script>
    <script src="/static/js/submit_stuff.js" type="text/javascript"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Remember</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/#about">About</a>
                    </li>
                    <li>
                        <a href="/#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Welcome to Remember. Let's start.</h1>
            </div>
        </div>
        <div class="row">
            <section>
            <div class="wizard">
                <div class="wizard-inner">
                    <div class="connecting-line"></div>
                    <ul class="nav nav-tabs" role="tablist">

                        <li role="presentation" class="active">
                            <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1">
                                <span class="round-tab">
                                    <i class="glyphicon glyphicon-music"></i>
                                </span>
                            </a>
                        </li>

                        <li role="presentation" class="disabled">
                            <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2">
                                <span class="round-tab">
                                    <i class="glyphicon glyphicon-facetime-video"></i>
                                </span>
                            </a>
                        </li>
                        <li role="presentation" class="disabled">
                            <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Step 3">
                                <span class="round-tab">
                                    <i class="glyphicon glyphicon-cloud-upload"></i>
                                </span>
                            </a>
                        </li>

                        <li role="presentation" class="disabled">
                            <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Complete">
                                <span class="round-tab">
                                    <i class="glyphicon glyphicon-ok"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>

                    <div class="tab-content">
                        <div class="tab-pane active" role="tabpanel" id="step1">
                            <h3>Choose a song from Spotify</h3>
                            <ul class="list-inline pull-right">
                                <li><button type="button" id="step1btn" class="btn btn-primary next-step" disabled>Save and continue</button></li>
                            </ul>
                            <p>You chose: <span id="chosenSong">nothing yet!</span></p>
                            <br />
                            <h4>Search for a song</h4>
                            <p>Type a song name to search. Then, click on any song from the results to play 30 seconds.</p>
                            <form class="form-horizontal" id="search-form">
                                    <input type="text" id="song-query" value="" class="form-control" placeholder="Type a Song Name"/>
                            </form>
                            <div id="song-results-container">
                                <ol id="song-results">
                                </ol>
                            </div>
                        </div>
                        <div class="tab-pane" role="tabpanel" id="step2">
                            <h3>Upload and select video clips!</h3>
                            <p>This is the video stage. Your uploaded videos will appear here for you to play and select from. Instructions at the bottom!</p>
                            <div id="videoContainer">
                                <video>
                                Your browser does not support the video tag.
                                </video>
                            </div>
                            <canvas id="videoScrubber"></canvas>
                            <p>Total selected length: <span id="lengthCheck">0 seconds</span></p>
                            <ul id="uploadedVideos">
                            </ul>
                            <div id="videoDropzone">
                                <i class="glyphicon glyphicon-plus"></i>
                            </div>
                            <ul class="list-inline pull-right">
                                <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
                                <li><button id="step2btn" type="button" class="btn btn-primary next-step" disabled>Submit for processing</button></li>
                            </ul>
                            <ul>
                                <h4>Instructions</h4>
                                <li>Drag videos over the + to add them (or click)</li>
                                <li>Press spacebar to Play/Pause.</li>
                                <li>Hovering over the bottom can be used to scrub through the video.</li>
                                <li>Click and drag on the scrub area to add a clip.</li>
                                <li>Clips must be longer than 5 seconds in length</li>
                                <li>Click on a highlighted area to delete.</li>
                                <li>You must select more than 30 seconds in clips to continue</li>
                            </ul>
                            <br />
                        </div>
                        <div class="tab-pane" role="tabpanel" id="step3">
                            <h3>Processing video...</h3>
                            <p>Your video is currently processing.</p>
                            <div id='processing-spinner-container'>
                                <div id="processing-spinner"></div>
                            </div>
                            <div id="processing-output"></div>
                        </div>
                        <div class="tab-pane" role="tabpanel" id="complete">
                            <h3>Complete</h3>
                            <p>You have successfully completed all steps.</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
            </div>
        </section>
       </div>
    </div>
    <!-- /.container -->

</body>

</html>
